body {
  background-color: #f5f5f5;
  margin: 0;
  font-family:
    smythe, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
}

header,
main {
  width: 600px;
  margin: 0 auto;
}

header {
  background-image: url("./images/header.jpg");
  background-size: cover;
  background-position: center 68%;
  color: #ffffff;
  padding: 5px 50px 60px;
  box-sizing: border-box;
}

main {
  background-color: #ffffff;
  padding: 0 40px 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 5px;
  font-weight: 300;
}

header p {
  font-size: 1.4rem;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d2d2d2;
  padding: 40px 0;
}

.menu-item-details {
  margin-left: 20px;
}

.menu-item h2,
.menu-item p {
  margin: 5px 0;
  font-weight: 300;
}


.menu-item-image {
  font-size: 4rem;
}

.add-item {
  margin: auto 0 auto auto;
}

h2 {
  font-size: 1.8rem;
}

.item-ingredient {
  color: #8b8b8b;
  font-size: 1rem;
}


.item-name {
  font-size: 1.8rem;
}

.item-price, .total {
  font-size: 1.2rem;
}

.add-item {
  background-color: #ffffff;
  color: #3c3c3c;
  width: 50px;
  height: 50px;
  border: 1px solid #8b8b8b;
  border-radius: 50%;
  font-size: 1.8rem;
  cursor: pointer;
}


/* order css */

.order {
  text-align: center;
  visibility: hidden;
}

.order-title {
  font-size: 1.5rem;
}

.total, 
.order-details,
.order-header {
  display: flex;
  align-items: center;
}

.order-details {
  margin: 10px 0;
}

hr {
  border: 1px solid #393333;
}


.qp-header-wrapper,
.item-qp-wrapper,
.price-header,
.item-price,
.total-amount {
  margin: auto 0 auto auto;
}

.qty-header {
  margin-right: 90px;
}

.item-qty {
  margin-right: 100px;
}

.remove {
  color: #bbbbbb;
  font-size: 1rem;
  margin-left: 10px;
  cursor: pointer;
  vertical-align: super;
}

.submit-order {
  color: #ffffff;
  padding: 12px 20px;
  background-color: #16DB99;
  margin-top: 50px;
  border-radius: 2px;
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.modal {
  background-color: #ffffff;
  width: 500px;
  height: 480px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 20px;
  z-index: 10000;
  text-align: center;
  border-radius: 4px;
}

.modal > h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  margin: 30px  0 50px;
  font-size: 1.6rem;
}

.inactive {
  background: linear-gradient(180deg, #ffffff, #bebebe , #ffffff);
}

input {
  display: block;
  margin: 25px 0;
  padding: 20px;
  width: 91%;
  font-size: 1.2rem;
  font-weight: 400;
  border: 2px solid #a5a4a4;
  outline: 0;
  border-radius: 5px;
}

input:focus {
  border: 2px solid #16DB99;
}

.pay-btn {
  width: 100%;
  padding: 20px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
  color: #ffffff;
  border: none;
  background-color: #16DB99;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}